<?xml version="1.0"?>
<launch>
    <node pkg="tf" type="static_transform_publisher" name="wheel_broadcaster" args="-0.445 0 0 0 0 0 base_link wheel_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="laser_broadcaster" args="-0.070 0 0.0155 0 3.14 0 base_link laser_frame 100" />
    <node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="-0.507 0 0.04 0 0 0 base_link imu 100" />
</launch>

<!-- rviz doesnt like the new static frame implementation, the tf (1.0) version really broadcasts the transformation rather than
handling static transforms differently -->
<!-- static_transform_publisher x y z yaw pitch roll frame_id child_frame_id -->